<div class="card flex  m-2 ml-0">
    <input type="text" pInputText [(ngModel)]="query" />
    <button pButton pRipple (click)="search()" label="Search" class="p-button-success ml-3"></button>
</div>
<div class="card">
    <p-table [value]="customerList" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines"
        [paginator]="true" [rows]="filter.pageSize" [first]="filter.pageSize * filter.pageIndex"
        [totalRecords]="customerListLength" lazy="true" (onPage)="onPage($event)" [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Image</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.email }}</td>
                <td>{{ product.image_url }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>